@charset "UTF-8";
header   {
	background-color: rgba(0,0,0,0.80);
	padding-top: 10px;
	padding-left: 19px;
	padding-bottom: 6px;
	padding-right: 19px;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
nav {
	float: right;
	color: rgba(246,242,242,1.00);
}
.mobile-menu {
	display: none;
}

.desktop-menu ul li  {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	opacity: 1;
	padding-top: 9px;
	padding-bottom: 9px;
	width: 135px;
}
.desktop-menu {
	margin-top: -17px;
	margin-right: -8px;
}
.btnRed {
  background : #FF6138;
  background : rgba(255, 97, 56, 1);
}
.btnGreen {
  background : #00A287;
  background : rgba(0, 162, 135, 1);
}
.desktop-menu ul li a{
	font-weight : 300;
	font-size : 15px;
	color : #FFFFFF;
	text-decoration: none;
	font-family: open-sans-condensed;
	font-style: normal;
}
body {
	background-color: #EAEAEA;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.hero-image {
	height: 653px;
	background-image: url(images/hero-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0%;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
main {
	min-height: 800px;
	background-color: rgba(191,175,175,0.67);
}
footer {
	height: 120px;
}
.social-icons {
	float: left;
}
.copyright-text {
	float: right;
}


/*Tablet View*/
@media (min-width: 401px) and (max-width: 768px){
.mobile-menu {
	display: block;
	text-align: right;
	float: right;
	width: 9%;
	height: 9%;
	max-width: 25px;
	margin-top: 5px;
}
.desktop-menu {
	display: none;
}
.expand {
	display: block;
}
.desktop-menu ul li {
	display: block;
	margin-top: 0px;
}
header .mobile-menu img {
	width: 100%;
	height: 100%;
	margin-top: 11%;
}
}


/*Mobile View*/
@media (max-width: 400px){
.mobile-menu {
	display: block;
	text-align: right;
	float: right;
	width: 9%;
	height: 9%;
	margin-top: 0.8%;
}
.desktop-menu {
	display: none;
}
.expand {
	display: block;
	padding-top: 0px;
}
header a img {
	width: 83%;
	height: 83%;
}
.desktop-menu ul li {
	display: block;
	margin-top: 0px;
	padding-top: 0px;
}
header .mobile-menu img {
	width: 85%;
	height: 85%;
	margin-top: 11%;
}
.hero-image {
	height: 526px;
}
}
